---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import ContactInfo from '../components/ContactInfo.astro';

import { Image } from 'astro:assets';
---

<Layout title="Contatti - AFK Progetto Giovani">
    <main>
        <PageTitle title="CONTATTI" />
        <section class="section-light">
            <ContactInfo />
        </section>
    </main>
</Layout>

<style>
    #placeholder1 {
        height: 16.9rem;
    }
</style>
