---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import ContactInfo from '../components/ContactInfo.astro';
---

<Layout title="Contatti - AFK Progetto Giovani">
    <main>
        <PageTitle title="CONTATTI" img="/afkprogettogiovani/chi-siamo.jpg" />
        <section class="section-light">
            <ContactInfo />
        </section>
    </main>
</Layout>
