---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import TestimonialsCard from "../components/TestimonialsCard.astro";
import Grid from "../components/Grid.astro";

import miLorenteggioImage from "../assets/testimonials/mi-lorenteggio.jpg";
import dmdImage from "../assets/testimonials/dmd.png";
import sempioneNewsImage from "../assets/testimonials/sempione-news.png";
---

<Layout title="Dicono di noi - AFK Progetto Giovani">
    <main>
        <PageTitle
            title="DICONO DI NOI"
            img="/afkprogettogiovani/pagetitles/dicono-di-noi.webp"
        />
        <section>
            <h2>COSA NE PENSANO DEL NOSTRO PROGETTO?</h2>
            <Grid>
                <TestimonialsCard
                    img={miLorenteggioImage}
                    alt="MI Lorenteggio"
                    url="https://www.mi-lorenteggio.com/2022/12/05/t-off-debutto-sold-out-con-afk-progetto-giovani/"
                    title="T-OFF, debutto sold out con AFK Progetto Giovani"
                    text="Rho, 5 dicembre 2022 Doppio successo, il pomeriggio e la sera di sabato 3 dicembre per il primo evento T-OFF. AFK Progetto Giovani ha trasformato il..."
                />
                <TestimonialsCard
                    img={dmdImage}
                    alt="DMD"
                    url="https://www.fondodmd.org/2022/12/30/4111/"
                    title="Un Ringraziamento ad AFK"
                    text="Carissimi, volevamo innanzitutto ringraziarvi per aver dedicato alla nostra Associazione questa bellissima serata..."
                />
                <TestimonialsCard
                    img={sempioneNewsImage}
                    alt="Sempione News"
                    url="https://www.sempionenews.it/spettacoli/a-million-dreams-i-giovani-fanno-sognare-il-nuovo-teatro-de-silva/"
                    title="I giovani fanno sognare il nuovo Teatro De Silva"
                    text="Si sono esibiti nel musical “A Million Dreams” sul palco del Teatro Roberto De Silva di Rho i giovani di AFK..."
                />
                <TestimonialsCard
                    url="https://www.facebook.com/AFKProgettoGiovani/photos/pb.100079922102721.-2207520000/126954416631711/?type=3"
                    title="DAL PUBBLICO"
                    text="COMPLIMENTI! COMPLIMENTI e ancora COMPLIMENTI! Vedervi è stato veramente meraviglioso!"
                />
                <TestimonialsCard
                    url="https://storiediandreare.blogspot.com/2023/03/il-crar-promotore-di-donne-che-si.html"
                    title="STORIE DI ANDREA RE"
                    text="Si è tenuto nel pomeriggio di domenica 5 marzo 2023 presso gli spazi associativi del Centro..."
                />
                <TestimonialsCard
                    url="https://fb.watch/pukRnNv6ok/"
                    title="ASSOCIAZIONE GENTILE"
                    text="Parliamo di Rho con AFK progetto giovani - Diretta Facebook"
                />
            </Grid>
        </section>
    </main>
</Layout>
