---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';

import { Image } from 'astro:assets';
---

<Layout title="Dicono di noi - AFK Progetto Giovani">
    <main>
        <PageTitle title="DICONO DI NOI" />
        <section>
            <h2>COSA NE PENSANO DEL NOSTRO PROGETTO?</h2>
            <div class="placeholder" id="placeholder1"></div>
            <div class="placeholder" id="placeholder1"></div>
            <div class="placeholder" id="placeholder1"></div>
            <div class="placeholder" id="placeholder1"></div>
        </section>
    </main>
</Layout>

<style>
    #placeholder1 {
        height: 16.9rem;
    }
</style>
