---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import CitationCard from '../components/CitationCard.astro';
import CitationsGrid from '../components/CitationsGrid.astro';
---

<Layout title="Dicono di noi - AFK Progetto Giovani">
    <main>
        <PageTitle title="DICONO DI NOI" img="/afkprogettogiovani/chi-siamo.jpg" />
        <section>
            <h2>COSA NE PENSANO DEL NOSTRO PROGETTO?</h2>
            <CitationsGrid>
                <CitationCard title="Milano Lorenteggio" text="Doppio successo, tutto sold out per il musical “A Million Dreams”..." />
                <CitationCard title="Fondo DMD" text="Orgogliosi di essere stati i destinatari della solidarietà di AFK..." />
                <CitationCard title="Sempione News" text="I giovani fanno sognare il nuovo Teatro De Silva..." />
                <CitationCard title="Dal pubblico" text="COMPLIMENTI! COMPLIMENTI e ancora COMPLIMENTI..." />
            </CitationsGrid>
        </section>
    </main>
</Layout>
