---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import EventCard from '../components/EventCard.astro';
import PastEventCard from '../components/PastEventCard.astro';
---

<Layout title="Eventi - AFK Progetto Giovani">
    <main>
        <PageTitle title="EVENTI" />
        <section>
            <h2>PROSSIMI EVENTI</h2>
            <EventCard title="Il sentiero d'argento" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Vestibulum tempor scelerisque eros eu semper." date="Sabato 8 giu 2024" place="Cornaredo" />
        </section>
        <section class="section-light">
            <h2>EVENTI PASSATI</h2>
            <PastEventCard title="Ho bisogno di poesia" text="Lorem ipsum dolor sit amet, consectetur adipiscing elit." date="8 ottobre 2022" />
        </section>
    </main>
</Layout>

<style>

</style>
