---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

import { Image } from 'astro:assets';
import chisiamoImage from '../assets/chi-siamo.jpg';
---

<Layout title="AFK Progetto Giovani">
    <main>
        <Hero />
        <section>
            <h2>CHI SIAMO?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui. Vestibulum tempor scelerisque eros eu semper.</p>
            <Image src={chisiamoImage} alt="Una foto di noi" />
        </section>
    </main>
</Layout>

<style>

</style>
