---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ButtonLink from '../components/ButtonLink.astro';
import EventCard from '../components/EventCard.astro';
import CitationCard from '../components/CitationCard.astro';
import Grid from '../components/Grid.astro';
import ContactInfo from '../components/ContactInfo.astro';
import TextImage from '../components/TextImage.astro';
import TextVideo from '../components/TextVideo.astro';

import { Image } from 'astro:assets';
import chiSiamoImage from '../assets/chi-siamo.jpg';
import eventipassatiImage from '../assets/eventi-passati.png';
---

<Layout title="AFK Progetto Giovani">
    <main>
        <Hero />
        <section class="section-light">
            <TextImage img={chiSiamoImage} alt="Una foto di noi">
                <h2>CHI SIAMO?</h2>
                <p>Siamo un gruppo di giovani, con la passione per ogni forma d’arte. Insieme impariamo a valorizzare i nostri talenti. Dal 2022 grazie a chi ha creduto in noi.</p>            
            </TextImage>
        </section>
        <section>
            <h2>PROSSIMI EVENTI</h2>
            <EventCard title="Il sentiero d'argento" text="Un giovane becchino, un filosofo dimenticato e un trattato proibito: questa storia racconta quanto può essere potente un'idea, anche quando il mondo la ignora" date="Sabato 8 giu 2024" place="Auditorium Padre Reina Rho" img={chiSiamoImage} alt="Una foto di noi" />
        </section>
        <section>
            <h2>EVENTI PASSATI</h2>
            <Image src={eventipassatiImage} alt="Una foto di noi" />
            <ButtonLink url="/afkprogettogiovani/eventi#eventi-passati" text="Guarda tutto" />
        </section>
        <section class="section-light">
            <TextVideo video="/afkprogettogiovani/amici-sostenitori.mp4">
                <h2>AMICI SOSTENITORI</h2>
                <p>I nostri amici sostenitori ci permettono di continuare a realizzare i nostri sogni!</p>
            </TextVideo>
        </section>
        <section>
            <h2>DICONO DI NOI</h2>
            <Grid>
                <CitationCard title="Milano Lorenteggio" text="Doppio successo, tutto sold out per il musical “A Million Dreams”..." />
                <CitationCard title="Fondo DMD" text="Orgogliosi di essere stati i destinatari della solidarietà di AFK..." />
                <CitationCard title="Sempione News" text="I giovani fanno sognare il nuovo Teatro De Silva..." />
                <CitationCard title="Dal pubblico" text="COMPLIMENTI! COMPLIMENTI e ancora COMPLIMENTI..." />
            </Grid>
            <ButtonLink url="/afkprogettogiovani/dicono-di-noi" text="Guarda tutti" />
        </section>
        <section class="section-light">
            <ContactInfo />
        </section>
    </main>
</Layout>
