---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ButtonLink from "../components/ButtonLink.astro";
import EventCard from "../components/EventCard.astro";
import CitationCard from "../components/CitationCard.astro";
import Grid from "../components/Grid.astro";
import ContactInfo from "../components/ContactInfo.astro";
import TextImage from "../components/TextImage.astro";
import TextVideo from "../components/TextVideo.astro";

import { Image } from "astro:assets";
import chiSiamoImage from "../assets/chi-siamo.jpg";
import eventipassatiImage from "../assets/eventi-passati.jpg";
import ilSentieroDiArgentoCopertinaImage from "../assets/events/il-sentiero-di-argento/copertina.jpg";
---

<Layout title="AFK Progetto Giovani">
    <main>
        <Hero />
        <section class="section-light">
            <TextImage img={chiSiamoImage} alt="Una foto di noi">
                <h2>CHI SIAMO?</h2>
                <p>
                    Siamo un gruppo di giovani pieni di <strong>entusiasmo</strong>, adoriamo il
                    teatro e ogni forma d’arte, e vogliamo provare a cambiare il
                    mondo seguendo le nostre <strong>passioni</strong> e coltivando la nostra
                    <strong>unicità</strong>.
                </p>
                <p>
                    Il motto che ci guida è ‘<strong>Lontano dagli schermi, fuori dagli
                    schemi!</strong>’, e anche se ognuno di noi studia o lavora, ci
                    incontriamo ogni settimana per realizzare nuovi progetti, e
                    per trasformare i nostri <strong>sogni</strong> in realtà.
                </p>
                <p>
                    Il <strong>musical</strong> è il genere a noi più congeniale, ma siamo aperti
                    ad ogni tipo di <strong>contaminazione culturale</strong>. Oltre ad occuparci
                    personalmente della <strong>scrittura</strong> e della messa in scena dei
                    nostri spettacoli (sul palco, nel backstage e nella parte
                    tecnica), abbiamo come obiettivo principale la <strong>solidarietà</strong>:
                    l’incasso di ogni serata viene infatti devoluto in
                    beneficenza a diverse <strong>associazioni del territorio</strong>.
                </p>
            </TextImage>
        </section>
        <section>
            <h2>PROSSIMI EVENTI</h2>
            <p>Novità in <strong>in arrivo</strong>, restate connessi!</p>
            <!-- <EventCard
                title="Il sentiero d'argento"
                text="Un giovane becchino, un filosofo dimenticato e un trattato proibito: questa storia racconta quanto può essere potente un'idea, anche quando il mondo la ignora."
                url="https://wa.me/+393513190008"
                date="Domenica 9 giu 2024 - 18:30"
                place="Auditorium Padre Reina Rho"
                img={ilSentieroDiArgentoCopertinaImage}
                alt="Locandina Il Sentiero di Argento"
            /> -->
        </section>
        <section>
            <h2>EVENTI PASSATI</h2>
            <Image src={eventipassatiImage} alt="Una foto di noi" />
            <ButtonLink
                url="/eventi#eventi-passati"
                text="Guarda tutto"
            />
        </section>
        <section class="section-light">
            <TextVideo>
                <h2>AMICI SOSTENITORI</h2>
                <p>
                    I nostri amici sostenitori sono importantissimi, e
                    costituiscono il cuore pulsante di AFK. È solo grazie alla
                    loro <strong>generosità</strong> e alle loro donazioni, infatti, se riusciamo
                    a portare in scena i nostri <strong>spettacoli</strong>, ad acquistare il
                    materiale che ci serve, e a seguire corsi, workshop e master
                    per studiare e cercare di migliorarci sempre di più.
                </p>
                <iframe
                    slot="video"
                    width="1920"
                    height="1080"
                    src="https://www.youtube.com/embed/is-MWaMrWtc?si=TyZvlSoed-6Spxmf"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
                </iframe>
            </TextVideo>
        </section>
        <section>
            <h2>DICONO DI NOI</h2>
            <Grid>
                <CitationCard
                    title="Milano Lorenteggio"
                    text="Doppio successo, tutto sold out per il musical “A Million Dreams”..."
                />
                <CitationCard
                    title="Fondo DMD"
                    text="Orgogliosi di essere stati i destinatari della solidarietà di AFK..."
                />
                <CitationCard
                    title="Sempione News"
                    text="I giovani fanno sognare il nuovo Teatro De Silva..."
                />
                <CitationCard
                    title="Dal pubblico"
                    text="COMPLIMENTI! COMPLIMENTI e ancora COMPLIMENTI..."
                />
            </Grid>
            <ButtonLink
                url="/dicono-di-noi"
                text="Guarda tutti"
            />
        </section>
        <section class="section-light">
            <ContactInfo />
        </section>
    </main>
</Layout>
