---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import BulletPoint from '../components/BulletPoint.astro';

import { Image } from 'astro:assets';
import chisiamoImage from '../assets/chi-siamo.jpg';
---

<Layout title="Sostenitori - AFK Progetto Giovani">
    <main>
        <PageTitle title="SOSTENITORI" img="/afkprogettogiovani/chi-siamo.jpg" />
        <section class="section-light">
            <div>
                <h2>I NOSTRI AMICI SOSTENITORI</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut aliquam dui.</p>
            </div>
            <div>
                <Image src={chisiamoImage} alt="Una foto di noi" />
            </div>
        </section>
        <section>
            <div>
                <h2>VUOI SUPPORTARCI ANCHE TU?</h2>
                <div class="bullet-points">
                    <BulletPoint icon="fa-solid fa-credit-card" text="Attraverso una donazione, IBAN: IT47W062300957200005712447" />
                    <BulletPoint icon="fa-brands fa-cc-paypal" text="Attraverso PayPal, da qui" /> 
                </div>   
            </div>
        </section>
    </main>
</Layout>

<style>
    @media screen and (min-width: 1000px) {
        .bullet-points {
            display: flex;
            gap: var(--space-s);
        }
    }
</style>
