---
import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
import BulletPoint from '../components/BulletPoint.astro';
import TextImage from '../components/TextImage.astro';
import FeaturedBulletPoints from '../components/FeaturedBulletPoints.astro';
import TextVideo from '../components/TextVideo.astro';

import chiSiamoImage from '../assets/chi-siamo.jpg';
---

<Layout title="Sostenitori - AFK Progetto Giovani">
    <main>
        <PageTitle title="SOSTENITORI" img="/afkprogettogiovani/chi-siamo.jpg" />
        <section class="section-light">
            <TextVideo video="/afkprogettogiovani/amici-sostenitori.mp4">
                <h2>AMICI SOSTENITORI</h2>
                <p>I nostri amici sostenitori sono il cuore pulsante dietro ogni spettacolo. Ogni donazione spontanea ci avvicina di più a portare gioia e ispirazione.</p>
            </TextVideo>
        </section>
        <section>
            <h2>VUOI SUPPORTARCI ANCHE TU?</h2>
            <FeaturedBulletPoints>
                <BulletPoint icon="fa-solid fa-credit-card" text="Attraverso una donazione, IBAN: IT47W062300957200005712447" />
                <BulletPoint icon="fa-brands fa-cc-paypal" text="Attraverso PayPal, da qui" /> 
            </FeaturedBulletPoints>  
        </section>
    </main>
</Layout>
