---
const {icon, text} = Astro.props;
---

<div>
    <i class={icon}></i>
    <p class="bold">{text}</p>
</div>

<style>
    div {
        display: flex;
        align-items: center;
        gap: var(--space-s);
        color: var(--black-1);
    }
    i {
        font-size: 1.5625rem;
    }

    @media screen and (min-width: 1000px) {
        i {
            font-size: 3.125rem;
        }
    }
</style>
