---
const { url, text, icon = "fa-solid fa-chevron-right", newtab = false } = Astro.props;
---

<a class="bold" href={url} target={newtab && '_blank'} rel={newtab && 'noopener noreferrer'}>
    {text} <i class={icon}></i>
</a>

<style>
    a {
        align-self: center;
        padding: var(--space-s) var(--space-m);
        border-radius: var(--border-radius);
        background: var(--pink-5);
        color: var(--white-1);
    }
    a:hover {
        background: var(--pink-3);
        color: var(--black-1);
    }

    @media screen and (min-width: 1000px) {
        a {
            padding: var(--border-radius) var(--space-s);
        }
    }
</style>
