---
const { text, icon = "fa-solid fa-chevron-right" } = Astro.props;
---

<button class="bold" type="button">
    {text} <i class={icon}></i>
</button>

<style>
    button {
        align-self: flex-start;
        padding: var(--space-s) var(--space-m);
        border: none;
        border-radius: var(--border-radius);
        background: var(--pink-5);
        color: var(--white-1);
        cursor: pointer;
    }
    button:hover {
        background: var(--pink-3);
        color: var(--black-1);
    }

    @media screen and (min-width: 1000px) {
        button {
            padding: var(--border-radius) var(--space-s);
        }
    }
</style>
