---
const { url, text, icon = "fa-solid fa-chevron-right" } = Astro.props;
---

<a class="bold" href={url}>
    {text} <i class={icon}></i>
</a>

<style>
    a {
        align-self: center;
        padding: var(--space-s) var(--space-m);
        border-radius: var(--border-radius);
        background: var(--pink-5);
        color: var(--white-1);
    }
    a:hover {
        background: var(--pink-3);
        color: var(--black-1);
    }
</style>
