---
const { columns = 2 } = Astro.props;
---

<div>
    <slot />
</div>

<style define:vars={{ columns }}>
    div {
        display: grid;
        gap: var(--space-m);
    }

    @media screen and (min-width: 1000px) {
        div {
            grid-template-columns: repeat(var(--columns), 1fr);
        }
    }
</style>
