---
const { title, text, date, place } = Astro.props;

import Button from './Button.astro';
---

<div class="card">
    <div class="placeholder" id="placeholder1"></div>
    <div class="info">
        <h3>{title}</h3>
        <p>{text}</p>
        <p class="bold"><i class="fa-solid fa-location-dot"></i>{place}</p>
        <p class="bold"><i class="fa-solid fa-clock"></i>{date}</p>
        <Button text="Scopri di più" />
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }
    .info h3 {
        text-align: left;
    }
    .info p {
        color: var(--black-1);
    }
    .info i {
        margin-right: var(--space-s);
    }

    #placeholder1 {
        height: 9.125rem;
    }
</style>
