<footer>
    <h5>©2024 AFK PROGETTO GIOVANI</h5>
    <p class="credits">
        Codice di Samuele Max<br/>
        Design di <a href="https://federicocapuzzi.it">Federico Capuzzi</a><br/>
        Testi di Joselyn Zambrano e <a href="https://farpoesie.it">Federica Re</a>
    </p>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--space-m);
        padding: var(--space-m) var(--space-l);
        background: var(--white-3);
        text-align: center;
    }
    footer h5 {
        color: var(--pink-9);
    }
    .credits, .credits a {
        color: var(--pink-8);
        font-style: italic;
    }
    .credits a {
        text-decoration: underline;
    }
</style>
