<footer>
    <h5>©2024 AFK PROGETTO GIOVANI</h5>
    <h5>C.F. DLFPXI89P44C986N</h5>
    <p class="credits">
        Design di Federico Capuzzi<br>
        Codice di Samuele Max<br>
        Testi di Joselyn Zambrano
    </p>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        justify-content: center;
        align-items: center;
        padding: var(--space-m) var(--space-l);
        background: var(--white-3);
    }
    footer h5 {
        color: var(--pink-9);
        font-family: 'Inter Variable';
    }
    .credits {
        color: var(--pink-8);
        font-family: Merriweather;
        font-style: italic;
    }
</style>
