---
import { Image } from 'astro:assets';
import logoImage from '../assets/afk-logo-bianco-trasparente.png';

const currentPath = new URL(Astro.request.url).pathname.slice(1);
---

<header>
    <!-- Logo -->
    <a href="/" class="logo">
        <Image loading="eager" id="logo" src={logoImage} alt="Logo" />
    </a>

    <!-- Hamburger button -->
    <input type="checkbox" class="nav-toggle" id="nav-toggle" />
    <label for="nav-toggle" class="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <!-- Nav items -->
    <nav>
        <ul>
            <li class={currentPath === '/' ? 'active' : ''}><a class="bold" href="/">Home</a></li>
            <li class={currentPath === '/chi-siamo' ? 'active' : ''}><a class="bold" href="/chi-siamo">Chi siamo</a></li>
            <li class={currentPath === '/eventi' ? 'active' : ''}><a class="bold" href="/eventi">Eventi</a></li>
            <li class={currentPath === '/sostenitori' ? 'active' : ''}><a class="bold" href="/sostenitori">Sostenitori</a></li>
            <li class={currentPath === '/dicono-di-noi' ? 'active' : ''}><a class="bold" href="/dicono-di-noi">Dicono di noi</a></li>
            <li class={currentPath === '/contatti' ? 'active' : ''}><a class="bold" href="/contatti">Contatti</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        position: fixed;
        z-index: 2;
        width: calc(100% - var(--space-l) * 2);
        height: 3.38rem;
        top: 0;
        left: 0;
        padding: var(--space-m) var(--space-l);
        background: var(--white-3);
    }
    .logo {
        width: 5.875rem;
        height: 3.375rem;
    }
    
    /* Hamburger button */
    .nav-toggle {
        display: none;
    }
    .hamburger-icon {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: auto;
    }
    .hamburger-icon span {
        width: 1rem;
        height: 0.125rem;
        border-radius: 1rem;
        background: #000000;
        transition: transform 300ms, opacity 300ms;
    }

    /* On nav toggle pressed */
    .nav-toggle:checked ~ .hamburger-icon span:nth-child(1) {
        transform: translateY(0.376rem) rotate(45deg);
    }
    .nav-toggle:checked ~ .hamburger-icon span:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle:checked ~ .hamburger-icon span:nth-child(3) {
        transform: translateY(-0.376rem) rotate(-45deg);
    }
    .nav-toggle:checked ~ nav {
        display: block;
    }

    /* Nav links */
    nav {
        display: none;
        position: fixed;
        width: 100%;
        top: var(--header-height);
        left: 0;
        background: var(--pink-2);
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-l);
        margin: 0;
        padding: var(--space-m) var(--space-l);
        list-style: none;
    }
    ul li a {
        display: block;
    }

    @media screen and (min-width: 1000px) {
        header {
            width: calc(100% - var(--space-s) * 2);
            padding: var(--space-s) var(--space-s);
        }

        .logo {
            width: 9.375rem;
            height: 5.25rem;
        }

        .hamburger-icon {
            display: none;
        }

        nav {
            display: block;
            position: static;
            background: transparent;
        }
        ul {
            flex-direction: row;
            gap: var(--space-s);
            padding: var(--space-m) var(--space-m);
        }
        .active a, ul li a:hover {
            color: var(--pink-5);
        }
    }
    @media screen and (min-width: 1820px) {
        header {
            width: calc(100% - var(--space-l) * 2);
            padding: var(--space-s) var(--space-l);
        }

        ul {
            gap: var(--space-l);
            padding: var(--space-m) var(--space-l);
        }
    }
</style>
