<header>
    <a href="/afkprogettogiovani" class="placeholder logo"></a>

    <!-- Nav toggle -->
    <input type="checkbox" class="nav-toggle" id="nav-toggle" />
    <label for="nav-toggle" class="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav>
        <ul>
            <li><a class="bold" href="/afkprogettogiovani">Home</a></li>
            <li><a class="bold" href="/afkprogettogiovani/chi-siamo">Chi siamo</a></li>
            <li><a class="bold" href="/afkprogettogiovani/eventi">Eventi</a></li>
            <li><a class="bold" href="/afkprogettogiovani/sostenitori">Sostenitori</a></li>
            <li><a class="bold" href="/afkprogettogiovani/dicono-di-noi">Dicono di noi</a></li>
            <li><a class="bold" href="/afkprogettogiovani/contatti">Contatti</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        align-items: center;
        position: fixed;
        width: calc(100% - var(--space-l) * 2);
        height: 3.38rem;
        top: 0;
        left: 0;
        z-index: 1;
        padding: var(--space-m) var(--space-l);
        background: var(--white-3);
    }
    .logo {
        width: 5.88rem;
        height: 3.38rem;
    }
    
    /* Nav toggle */
    .nav-toggle {
        display: none;
    }
    .hamburger-icon {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-left: auto;
    }
    .hamburger-icon span {
        width: 1rem;
        height: 0.125rem;
        border-radius: 1rem;
        background: #000000;
        transition: transform 300ms, opacity 300ms;
    }

    /* On nav toggle pressed */
    .nav-toggle:checked ~ .hamburger-icon span:nth-child(1) {
        transform: rotate(45deg) translateY(0.53rem);
    }
    .nav-toggle:checked ~ .hamburger-icon span:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle:checked ~ .hamburger-icon span:nth-child(3) {
        transform: rotate(-45deg) translateY(-0.53rem);
    }
    .nav-toggle:checked ~ nav {
        display: block;
    }

    /* Nav links */
    nav {
        display: none;
        position: fixed;
        width: 100%;
        top: var(--header-height);
        left: 0;
        background: var(--pink-2);
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        margin: 0;
        padding: var(--space-m) var(--space-l);
        list-style: none;
    }
</style>
