---
import ButtonLink from './ButtonLink.astro';
---

<div class="hero">
    <video autoplay muted loop>
        <source src="/afkprogettogiovani/hero-video.mp4" />
    </video>
    <div class="hero-text">
        <h1>AFK PROGETTO GIOVANI</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <ButtonLink url="/afkprogettogiovani/chi-siamo" text="Scopri chi siamo" />
    </div>
</div>

<style>
    .hero {
        position: relative;
    }
    .hero video {
        width: 100%;
        height: 31.75rem;
        object-fit: cover;
    }
    .hero-text {
        display: flex;
        flex-direction: column;

        gap: var(--space-s);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        white-space: nowrap;
    }
    .hero-text h1 {
        color: var(--white-2);
    }
    .hero-text p {
        color: var(--white-2);
    }
</style>
