---
const { url } = Astro.props;
---

<a href={url}>
    <slot />
</a>

<style>
    a {
        padding: 0.69rem 1.38rem;
        border-radius: 0.69rem;
        background: #F535CB;
        color: #F9F6F8;
        font-family: Merriweather;
        font-weight: 700;
        text-decoration: none;
    }
    a:hover {
        background: #93207A;
        color: #F9F6F8;
    }
</style>
