---
import ButtonLink from './ButtonLink.astro';

const { title, text, date } = Astro.props
---

<div class="card">
    <div class="info">
        <h4>{title}</h4>
        <p>{date}</p>
        <p>{text}</p>
        <ButtonLink url="#" text="Guarda le foto" />
    </div>
</div>

<style>
    .card {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 18rem;
        padding: var(--space-m);
        border-radius: var(--border-radius);
        background: var(--placeholder-gray);
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--space-s);
        padding: var(--space-s);
        border-radius: var(--border-radius);
        background: var(--pink-2);
        text-align: center;
    }

    @media screen and (min-width: 1000px) {
        .card {
            height: 30rem;
            padding: var(--space-s) var(--space-m);
        }
    }
</style>
