---
const { img, alt, reverse = false } = Astro.props;

import { Image } from 'astro:assets';
---

<div class="text-image">
    <div>
        <slot />
    </div>
    <div>
        <Image src={img} alt={alt} />
    </div>
</div>

<style define:vars={{mobileFlexDirection: reverse ? 'column-reverse' : 'column'}}>
    div {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }
    .text-image {
        flex-direction: var(--mobileFlexDirection);
    }

    @media screen and (min-width: 1000px) {
        .text-image {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .text-image div {
            gap: var(--space-s);
        }
    }
</style>
