---
const { video } = Astro.props;
---

<div class="text-video">
    <div class="text">
        <slot />
    </div>
    <div class="video">
        <slot name="video" />
    </div>
</div>

<style>
    div {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }

    @media screen and (min-width: 1000px) {
        .text-video {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .text {
            max-width: 50%;
        }
        .text-video div {
            gap: var(--space-s);
        }
    }
</style>
