---
const { frontmatter } = Astro.props;

import Layout from '../layouts/Layout.astro';
import PageTitle from '../components/PageTitle.astro';
---

<Layout title=`${frontmatter.title} - AFK Progetto Giovani`>
    <main>
        <PageTitle title="FOTO EVENTI" img="/afkprogettogiovani/chi-siamo.jpg" />
        <section class="event-page-grid">
                <h2>{frontmatter.title.toUpperCase()}</h2>
                <p>{frontmatter.date.toLocaleDateString("it-it", {day: "numeric", month: "long", year: "numeric"})} - {frontmatter.place}</p>
                <p>{frontmatter.text}</p>
                <slot />
        </section>
    </main>
</Layout>

<style is:global>
    .event-page-grid img {
        max-width: 100%;
    }
    .event-page-grid > p:nth-child(3) {
        max-width: 50rem;
    }
    .event-page-grid > p:nth-child(4) {
        display: grid;
        gap: var(--space-m);
    }

    @media screen and (min-width: 1000px) {
        .event-page-grid > p {
            grid-template-columns: 1fr 1fr;
        }
        .event-page-grid > p img {
            height: 30rem;
            object-fit: cover;
        }
    }
</style>
