---
const { title } = Astro.props;

import '@fontsource/russo-one';
import '@fontsource/lato/400.css';
import '@fontsource/lato/700.css';
import '@fontsource/lato/400-italic.css';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="AFK Progetto Giovani è un'associazione no-profit rhodense, nata per offrire nuove opportunità ai giovani per socializzare ed inseguire le proprie passioni." />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/afkprogettogiovani/favicon.svg" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
<style is:global>
    :root {
        --header-height: 6.14rem;

        /* Spaces used in margins and paddings */
        --space-l: 2.75rem;
        --space-m: 1.375rem;
        --space-s: 0.6875rem;

        --border-radius: 0.6875rem;

        /* Colors */
        --white-1: #FDFCFD;
        --white-2: #FCFBFC;
        --white-3: #F9F6F8;

        --black-1: #2F0C28;
        --black-3: #260A20;

        --pink-1: #FEEBFA;
        --pink-2: #FEE1F7;
        --pink-3: #FCC0EF;
        --pink-4: #F535CB;
        --pink-5: #DD30B7;
        --pink-8: #93207A;
        --pink-9: #6E185B;
    }

    html {
        background: var(--pink-2);
        font-family: 'Russo One';
    }
    body {
        margin: 0;
        padding: 0;
    }
    main {
        margin-top: var(--header-height);
    }
    section {
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
        padding: var(--space-l);
    }
    .section-light {
        background: var(--pink-1);
    }

    img {
        max-width: 100%;
        height: auto;
        border-radius: var(--border-radius);
    }

    /* Typography */
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        line-height: 120%;
    }
    h1 {
        color: var(--white-3);
        font-size: 1.5rem;
    }
    h2 {
        text-align: center;
        color: var(--pink-9);
        font-size: 1.375rem;
    }
    h3 {
        text-align: center;
        color: var(--pink-9);
        font-size: 1.312rem;
    }
    h4 {
        color: var(--pink-8);
        font-size: 1.188rem;
    }
    h5 {
        color: var(--pink-9);
        font-size: 1.125rem;
    }
    h6 {
        font-size: 1rem;
        line-height: 140%;
    }
    p, a, button {
        color: #000000;
        font-family: Lato;
        font-size: 1rem;
        font-weight: 400;
        line-height: 140%;
        text-decoration: none;
    }
    .bold {
        font-weight: 700;
        line-height: 120%;
    }

    @media screen and (min-width: 1000px) {
        :root {
            --header-height: 7.5051875rem;

            /* Spaces used in margins and paddings */
            --space-l: 8.25rem;
            --space-m: 4.125rem;
            --space-s: 2.0625rem;
        }

        section {
            gap: var(--space-s);
            padding: var(--space-m) var(--space-l);
        }

        /* Typography */
        h1 {
            font-size: 2.5625rem;
        }
        h2 {
            font-size: 2.25rem;
        }
        h3 {
            font-size: 2rem;
        }
        h4 {
            font-size: 1.8125rem;
        }
        h5 {
            font-size: 1.625rem;
        }
        h6 {
            font-size: 1.4375rem;
            line-height: 140%;
        }
        p, a, button {
            font-size: 1.25rem;
            line-height: 120%;
        }
    }
</style>
